@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  *{  
box-sizing: border-box;
}
:root {
    --primary-color: orange;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}
body{
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(250, 250, 161); */
}
h1{

text-decoration: underline;
text-align: center;
color: var(--primary-color);
background-color: rgb(250,250,161);
padding: 2rem;

}

hr{
    margin: 1 rem ;
    border: 2px dashed ;
    color: var(--primary-color);
    border-radius: 2px;
}
  textarea{
        width: 500px;
        display: block;
        height: 100PX;
        padding: 3rem 2rem;
        border-color: var(--primary-color);
        border-width: thick;
        border-style: solid;
        margin: auto;
        /* background-color: rgb(250,250,161); */
        text-align: center;
        padding: 2rem;
        color: var(--primary-color);
        font-weight: bold;
    }
    #btn-trans{
        text-decoration: none;
        background-color: rgb(250, 250, 161);
        color: var(--primary-color);
        width: 150px;
        height: 55px;
        text-align: center;
        padding: 0.5rem 2rem;
        border: none;
      display: block;
      margin: auto;
        font-weight: bolder;
    }

#output{
    background-color: white;
    height: 120px;
    width: 500px;
    display: block;
    margin: auto;
    border: var(--primary-color);
    border-width: 4px;
    border-style: solid;
    padding: 1rem 1rem
   
}
div{
    text-align: center;
    background-color: rgb(250, 250, 161);
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
    padding: 1rem 2rem;
    display: block;
     /* margin: auto;  */
}

